<div class="container-fluid">
	<h1>Add a Terry</h1>
			<h4>Add your favorite outdoor spot here</h4>
			<form method="POST" action="/places/add">
			<div class="form-group">
				<label>Name of the Terry</label>
					<input type="text" name="name" placeholder="Name of the Terry" class="form-control">
				{{!-- <input type="text" name="description" placeholder="Description"> --}}
			</div>
			<div class="form-group"></div>
				<label>Address</label>
				<input type="text" name="latitude" placeholder="Latitude" class="form-control" >
				<input type="text" name="longitude" placeholder="Longitude" class="form-control">
				<input type="submit" name="add" id="submit" class="col-sm locate-me-button btn btn-primary mx-auto">
			<p>Hint: 52.500572, 13.454442</p>
			</div>					
			</form>
			<div id="map"></div>
			{{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
			{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww"></script> --}}
			{{!-- <script type="text/javascript" src="/javascripts/new.js"></script> --}}
</div>