
<div class="container-fluid">
    <h1>Your Terrys ❤</h1>
    
<div class="form-group">
    <form method="POST" action="/places/edit">
        <label>Your spots: </label><br>
        <select name="id" class="form-control btn btn-light dropdown-toggle">
            {{#each user._addedSpots}}

                <option value="{{_id}}" class="form-control btn dropdown-toggle">{{name}}</option> 

            {{/each}}
        </select>
        <input type="submit" name="" id="submit" class="form-control col-sm locate-me-button btn btn-primary mx-auto">
    </form>
</div>

    <h3>Your bookmarked Spots:</h3>
    <ul>
    {{#each user._favouriteSpots}}
    <li><h4>{{name}}</h4></li>
    {{/each}}
    </ul>
</div>