<!-- views/auth/signup.hbs -->


<h2>Create an Account and become part of the Terry Community</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Merry">

  <br><br>
  
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="VerryTerry@gmail.com">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="super secret password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="col-sm btn btn-primary mx-auto">Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
