<html>

<head>
  <title>Teracces next to you</title>
  <style>
    #map {
      height: 500px;
      width: 100%;
    }

    #listOfAllSpots {
      background-color: #829692;
      color: white;
    }
  </style>
</head>

<body>

  <h1>WhereCanIHang Today?</h1>
  <p>Find the terrace closest to you - in Berlin</p>


  {{!-- Google Map visual --}}
  <h3>My First Map</h3>
  <div id="map"></div>

  {{!-- Display all Spots --}}

  <div id="listOfAllSpots">

    <ul>
      {{#each spots}}

        <div class="card" style="width: 18rem;">
          {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
          <div class="card-body">
            <h5 class="card-title">{{ this.name}}</h5>
            <p class="card-text">{{ this.description }}</p>
            <a href="#" class="btn btn-primary">Go check this out</a>
          </div>
        </div>
      {{/each }}
    </ul>

  </div>


  <script src="https://maps.googleapis.com/maps/api/js?key={{googleAPIKey}}">
  </script>
  <script type="text/javascript" src="../public/javascripts/script.js"></script>
  <script type="text/javascript" src="../public/javascripts/yelp-interface.js"></script>
</body>

</html>