
$primary: #C8D7D4; 
@import "node_modules/bootstrap/scss/bootstrap";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-img-top {
  width: 200px;
  // clip: rect(0px,60px,200px,0px);
}

h5.card-title{
  color: black;
}

.clip-image{
  height: 200px;
  overflow: hidden;
}

.markers {
  background:pink;
}