
$primary: #5A08D6; 
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font: 14px "Open Sans";
}

.nav-title{
  font-family: Poiret One; 
}

.card-img-top {
  width: 200px;
  // clip: rect(0px,60px,200px,0px);
}

h5.card-title{
  color: black;
}

.clip-image{
  height: 200px;
  overflow: hidden;
}


h1 {
  font-family: Poiret One; 
  font-size: 10vw; 
}

.btn {
  font-family: Poiret One; 
  border-color: white; 
}

.special 
{
background-color: #E9E8EA, 
}

#map {
    height: 500px;
    width: 100%;
}

#listOfAllSpots {
  
}

#informationCarrier-long {
  display:none; 
}


#informationCarrier-lat {
  display:none; 
}

.welcome-back {
color: #E9E8EA;

}